body{
    font-family: 'Raleway', sans-serif;
    background: white; /*FFF9EF*/
}
.container-fluid{
    padding: 3% 10%;
}
h1{
    font-weight: bold;
    padding: 5% 0%;
}
h3{
    line-height: 1.5;
}
h4{
    margin: 4rem 0 0 0;
}
p{
    color: #8f8f8f;
}


/*Navigation Bar*/
.profile{
    text-align: center;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 20rem;
    height: 19rem;
    border-radius: 50%;
    margin: 2rem 0 1rem 0;
}
.header{
    background-color: #FFF9EF;
    padding: 1% 10%;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', san-serif;
}

/*Home Page*/
.card-title{
    font-size: 1.8rem;
    color: black;
}
.card-link:hover h5{
    color: #84a59d; 
}
.home-skills{
    color: black;
    font-weight: 550;
    padding: .45% .5%;
    font-size: .8rem;
    border-radius: .6rem;
    margin: .45%;
}

/*About Me*/
.skills{
    background: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5% 1%;
    font-size: 1rem;
    border-radius: .5rem;
    margin: .25%;
}
.about{
    color: #747474;
    font-size: 1.2rem;
}
.certs{
    width: 6rem;
    margin: 1% 3%;
}

/*Case Studies*/
#case-studies{
    background: white;
}
.project{
    background: white;
}
.back-arrow{
    color: black;
    font-size: 3rem;
    margin: 0% 0% 0% 5%;
}
.back-arrow:hover{
    color: #84a59d; 
}

/*Footer*/
.my-footer{
    background: #FFF9EF;
    
}
.my-footer p{
    font-size: 18px;
}
.social-bar a {
    color: black;
    font-size: 26px;
    padding: 0 .5rem 0 0;
}  
.social-bar i {
    transition: color 0.3s ease-in-out;
}
.social-bar a:hover i {
    color: #84a59d; /* Change color on hover */
}

  /* Code Graveyard


  */