body{
    font-family: 'Montserrat', sans-serif;
    background: #FFF9EF;
}
h1{
    font-weight: bold;
    padding: 5% 0%;
}
h3{
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 10%;
}

/*Navigation Bar*/
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', san-serif;
}

/*Case Studies*/
#case-studies{
    background: white;
}