.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 3% 7%;
}
.container {
	display: flex;
}
.overview {
	flex: 1;
}
.background {
	flex: 2;
}
img {
	width: 60%;
}
.figures {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	p {
		font-size: .95rem;
	}
}