html, body, #root, .app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  min-height: 95vh;
}

body {
  background-color: #cdd8c4;
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.main-content {
  background-color: #f3f6f1;
  margin: 0% 5%;
  height: 100%;
  flex: 1;
}