html, body, #root {
  height: 100%;
  margin: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #cdd8c4;
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.main-content {
  background-color: #f1f3ee;
  margin: 0% 5%;
  flex: 1;
}